*{padding:0;margin:0;border:0;outline:0;font-family:inherit;font-size:inherit;background:inherit;color:inherit;transition:all .3s ease-in-out}
html{font-family:monospace}
table{border-collapse:collapse;empty-cells:show}
ul{list-style:none inside}
ol{list-style-position:inside}
a,a:visited{text-decoration:none;color:#00a}
a:focus,a:hover,a:active{color:green;text-shadow:0 0 1rem rgba(0,0,0,.7)}
em{font-weight:bold}
input,select,textarea{margin:.5rem;padding:.5rem;border:1px dotted green;border-radius:.3rem}
input:focus,select:focus,textarea:focus{background-color:#ffd}
input[type="checkbox"]:focus{background-color:#ffd;outline:1px dotted green}

/** index.html */
.disp{text-align:center}
/** bob.Controller */
.menu{
	margin:.5rem;
}
.bc{ /* bread crumbs */
	margin:.5rem;
	margin-bottom:1rem;
}
.ser{ /* serialized size and server info */
	margin:1rem;
}
/** bob.ViewTable */
.ac{ /* actions */
	margin:.5rem;
}
.pgr{ /* pager */
	margin:.5rem;
}
input.query {
	background:yellow;
	border:1px dotted green;
	width:13rem;
	margin:.5rem;
	padding:.5rem
}
/** bob.ViewTable.Table */	
table.t{
	margin-top:.5rem;
	margin-bottom:.5rem;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
}
table.t tr:first-child{
	border:0;
	border-bottom:1px solid green;
	border-top:1px solid #070
}
table.t tr:last-child{
	border:0;
	border-bottom:1px solid #040
}
table.t th{
	padding:.5rem;
	background:#fefefe;
	border-bottom:1px solid green
}
table.t td{
	padding:.5rem;
	vertical-align:middle;
	border-left:1px dotted #ccc;
	border-bottom:1px dotted #ccc;
	white-space:normal;
}
table.t td:first-child{
	border-left:0
}
table.t td.nbr{
	text-align:right;
	white-space:nowrap;
}
/** bob.Form */
div.output{
	text-align:left;
	margin:.5rem 2rem .5rem 2rem;
	padding:1rem;
	border:1px dotted green;
	white-space:pre;
}
input.center{
	text-align:center;
}
input.nbr{
	width:5ch;
}
input.small-nbr{
	width:2ch;
}
/** bob.Form, bob.ViewTable more search */
input.long{
	width:100ch;
}
input.medium{
	width:50ch;
}
input.small{
	width:20ch;
}
input.tiny{
	width:10ch;
}
textarea.tiny{
	width:20ch;
	height:5ch;
}
textarea.small{
	width:40ch;
	height:10ch;
}
textarea.medium{
	width:60ch;
	height:30ch;
}
textarea.large{
	width:100ch;
	height:40ch;
}
table.f{
	margin-left:auto;
	margin-right:auto;
	text-align:left;
}
table.f td.lbl{
	text-align:right;
	font-weight:bold;
}
table.f td.val{}
.sc{ /* save, close actions */
	margin:.5rem;
}