*{padding:0;margin:0;border:0;outline:0;white-space:pre;font-family:inherit;font-size:inherit;background:inherit;color:inherit}
html{font-family:monospace}
table{border-collapse:collapse;empty-cells:show}
ul{list-style:none inside}
ol{list-style-position:inside}
a,a:visited{text-decoration:none;color:#00a;transition:all .3s ease-in-out}
a:focus,a:hover,a:active{color:green;text-shadow:0 0 1em rgba(0,0,0,.7)}
em{font-weight:bold}
input{padding:.5em;border:1px dotted green}
select{padding:.5em;border:1px dotted green}

div.disp{text-align:center}
/** bob.view_table.table */	
table.f{
	margin-left:auto;
	margin-right:auto;
	text-align:left
}
table.f tr:first-child{
	border:0;
	border-bottom:1px solid green;
	border-top:1px solid #070
}
table.f tr:last-child{
	border:0;
	border-bottom:1px solid #040
}
table.f th{
	padding:.5em;
	text-align:left;
	background:#fefefe;
	color:black;
	border-bottom:1px solid green
}
table.f td{
	padding:.5em;
	vertical-align:middle;
	border-left:1px dotted #ccc;
	border-bottom:1px dotted #ccc
}
table.f td:first-child{
	border-left:0
}
/** bob.view_table */
input.query {
	background:yellow;
	border:1px dotted #555;
	width:13em;
	margin:1em;
	padding:.2em
}
/** bob.form */
div.output{
	text-align:left;
	margin:0;
	margin-left:2em;
	margin-right:2em;
	padding:1em;
	border:1px dotted green;
}
